<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" width="device-width" initial-scale=1.0 />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script src="static/htmx.min.js"></script>
    <title>Purchase Entry Form</title>
</head>

<body>
    <div id="container">
        <h1>Purchase Entry</h1>
        <form id="purchase-form" method="POST" action="/submit">
            <fieldset>
                <label for="merchant">Merchant</label>
                <input list="merchants" type="text" id="merchant" name="merchant" required />
                <label for="date">Date</label>
                <input type="date" id="date" name="date" required />
                <label for="total">Total</label>
                <input type="number" id="total" name="total" placeholder="0.00" step="0.01" min="0" required />
            </fieldset>
            <fieldset id="items-container">
                <h3>Items</h3>
                <fieldset id="item" class="item">
                    <label for="name">Name</label>
                    <input list="item-names" id="name" type="text" name="name" required />
                    <label for="price">Price</label>
                    <input id="price" type="number" name="price" placeholder="0" data-old="0" step="0.01" min="0"
                        required />
                    <label for="quantity">Quantity</label>
                    <input id="quantity" type="number" name="quantity" min="1" value="1" data-old="1" />
                    <label for="category">Category</label>
                    <select id="category" name="category" required>
                        <option value="Groceries">Groceries</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Household Supplies">Household Supplies</option>
                        <option value="Dining and Entertainment">
                            Dining and Entertainment
                        </option>
                        <option value="Health and Wellness">Health and Wellness</option>
                        <option value="Clothing and accessories">
                            Clothing and accessories
                        </option>
                        <option value="Housing">Housing</option>
                        <option value="Gifts">Gifts</option>
                    </select>
                    <label for="recipient">For?</label>
                    <select id="recipient" name="recipient">
                        <option value="Family">Family</option>
                        <option value="Nat">Nat</option>
                        <option value="Ed">Ed</option>
                    </select>
                </fieldset>
                <button type="button" id="add-item">Add item</button>
                <button type="button" id="remove-item">Remove item</button>
            </fieldset>
            <button type="submit">Submit</button>
        </form>
    </div>

    <autocomplete hx-get="/autocomplete" hx-trigger="load"></autocomplete>

    <script>
        function updateTotal() {
            items = document.querySelectorAll('.item');
            total = 0;
            items.forEach(function (item) {
                total +=
                    parseFloat(item.querySelector('#price').value) *
                    parseInt(item.querySelector('#quantity').value);
            });
            document.getElementById('total').value = total.toFixed(2);
        }

        // Auto fill total
        document.getElementById('price').addEventListener('change', updateTotal);
        document
            .getElementById('quantity')
            .addEventListener('change', updateTotal);

        // Add and remove items buttons
        insertButton = document.getElementById('add-item');
        removeButton = document.getElementById('remove-item');
        insertButton.addEventListener('click', function () {
            const item = document.getElementById('item').cloneNode(true);
            item.children.category.value =
                document.getElementById('category').value;
            item.children.price.addEventListener('change', updateTotal);
            item.children.quantity.addEventListener('change', updateTotal);
            document
                .getElementById('items-container')
                .insertBefore(item, insertButton);
            updateTotal();
        });

        // Remove last item
        removeButton.addEventListener('click', function () {
            const items = document.getElementsByClassName('item');
            if (items.length > 1) {
                document
                    .getElementById('items-container')
                    .removeChild(items[items.length - 1]);
            }
            updateTotal();
        });

        // Default input date to date of user
        document.getElementById('date').valueAsDate = new Date();
    </script>
</body>

</html>