<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Purchase Entry Form</title>
  </head>
  <body>
    <h3>Purchase Entry</h3>
    <form id="purchase-form" method="POST" action="/submit">
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" required />
        <label for="date">Date</label>
        <input type="date" id="date" name="date" required />
      </div>
      <fielset id="items-container">
        <h3>Items</h3>
        <div id="item" class="item">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" required />
          <label for="price">Price</label>
          <input id="price" type="float" name="price" required />
          <label for="quantity">Quantity</label>
          <input id="quantity" type="number" name="quantity" min="1" required />
          <label for="category">Category</label>
          <select id="category" name="category">
            <option value="Groceries">Groceries</option>
            <option value="Transportation">Transportation</option>
            <option value="Household Supplies">Household Supplies</option>
            <option value="Dining and Entertainment">
              Dining and Entertainment
            </option>
            <option value="Health and Wellness">Health and Wellness</option>
            <option value="Clothing and accessories">
              Clothing and accessories
            </option>
            <option value="Housing">Housing</option>
            <option value="Gifts">Gifts</option>
          </select>
          <label for="recipient">For?</label>
          <select id="recipient" name="recipient">
            <option value="Family">Family</option>
            <option value="Nat">Nat</option>
            <option value="Ed">Ed</option>
          </select>
        </div>
        <button type="button" id="remove-item">Remove item</button>
        <button type="button" id="add-item">Add item</button>
      </fielset>
      <button type="submit">Submit</button>
    </form>
    <script>
      // Add and remove items buttons
      insertButton = document.getElementById('add-item');
      removeButton = document.getElementById('remove-item');
      insertButton.addEventListener('click', function () {
        const item = document.getElementById('item').cloneNode(true);
        item.children.category.value =
          document.getElementById('category').value;
        document
          .getElementById('items-container')
          .insertBefore(item, removeButton);
      });

      // Remove last item
      removeButton.addEventListener('click', function () {
        const items = document.getElementsByClassName('item');
        if (items.length > 1) {
          document
            .getElementById('items-container')
            .removeChild(items[items.length - 1]);
        }
      });

      // Default input date to date of user
      document.getElementById('date').valueAsDate = new Date();
    </script>
  </body>
</html>
